/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
 /* Header Menu Hide Media Css */
 



}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
/* Header Menu Hide Media Css */




 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
/* Header Menu Hide Media Css */

.header-form {
    display: none !important;
}
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
         -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
         padding: 0 0;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
       
    }
    

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .header-form {
        display: none !important;
    }

    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 0 0;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
       
    }
     
   
     

    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
/* ===========Main Header Media Css Start */

    .header-form {
        display: none !important;
    }
    .navbar-default {
         padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 13px 0;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
        
    }

   

  










}

















 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
/* ===========Main Header Media Css Start */
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 13px 0;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

/* ===========Main Header Media Css end */



}